:root {
    --headerBackground: white;
    --bodyBackground: rgb(230, 230, 230);
    --cardBackground: white;
    --textColor: black;
    --softTextColor: rgb(75, 75, 75);
    --theme: rgb(0, 212, 0);
    --shadowColor: gray;
    background-color: var(--bodyBackground);

    /* text-decoration: none; */
}
* {
    font-size: 1rem;
    margin: 0;
    padding: 0;
    scrollbar-width: thin;
    transition: font-size, background-color, 500ms;
}
.body {
    background-color: red;
}
html {
    scroll-behavior: smooth;
}
input {
    margin: 0 2rem;
    border-radius: 1rem;
    padding: 0.3rem 1rem;
    border: none;
    outline: 1px solid rgb(175, 175, 175);
}
input:enabled:hover {
    outline: 1px solid var(--theme);
}
input:focus {
    outline: 1px solid var(--theme);
    background-color: rgb(202, 255, 202);
}
input:disabled {
    opacity: 0.5;
    outline: none;
    cursor: not-allowed;
}
input:disabled::placeholder {
    color: var(--textColor);
}

button:disabled {
    cursor: not-allowed;
}
/* body {
    background-color: var(--bodyBackground);
} */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 5rem;
    position: fixed;
    top: 0;
    width: 100%;
    color: var(--textColor);
    background-color: var(--headerBackground);
    z-index: 10;
}
.headerOffset {
    width: 100%;
    height: 4.7rem;
}
.logo {
    font-size: 2rem;
    margin-left: 1rem;
    font-family: monospace;
    font-weight: bold;
    color: var(--textColor);
    text-decoration: none;
}
.currentPage {
    /* position: absolute; */
    color: gray;
    margin: auto auto;
    padding-left: 0.5rem;
    /* line-height: normal; */
}
.switchTheme {
    height: 2rem;
}
.navItems {
    display: flex;
    list-style-type: none;
    margin: auto 1rem;
}
.navItems * {
    padding: 0.5rem 1.5rem;
    margin: auto auto;
    white-space: nowrap;
    text-decoration: none;
    color: var(--textColor);
    transition: margin padding 500ms;
}
.cartButton {
    position: relative;
    background-color: var(--theme);
    font-family: monospace;
    font-weight: 500;
    color: white;
    border-radius: 5rem;
    transition: 50ms;
}
.cartButtonBadge {
    position: absolute;
    font-size: 0.8rem;
    width: 1rem;
    height: 1rem;
    text-align: center;
    padding: 5px;
    color: black;
    border-radius: 1rem;
    top: -0.7rem;
    right: 0rem;
    background-color: var(--bodyBackground);
    color: var(--textColor);
}
.cartButton:hover {
    background-color: green;
}

.body {
    padding-top: 1rem;
    background-color: var(--bodyBackground);
}
.fullBody {
    background-color: red;
}
.filterBar {
    font-family: monospace;
    display: flex;
    justify-content: space-between;
    margin: auto;
    /* min-width: 27rem; */
    /* max-width: 80rem; */
    width: 80%;
    white-space: nowrap;
    color: black;
    overflow: hidden;
    /* transition: 1.5s; */
}
@media screen and (max-width: 90rem) {
    .filterBar {
        width: 90%;
        flex-wrap: wrap;
    }
}
.search {
    width: 15rem;
    height: 1.5rem;
    padding: 5px 5px;
    z-index: 5;
}
.overlay {
    position: fixed;
    top: 5rem;
    right: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(3px);
    z-index: 3;
}
.searchInput {
    position: absolute;
    padding: 3px 1rem;
    width: 15rem;
    transition: 1s;
    z-index: 5;
}

.searchResult {
    position: absolute;
    margin: 2rem auto;
    border-radius: 1rem;
    max-height: 40rem;
    width: 80%;
    z-index: 2;
    background-color: var(--cardBackground);
    /* scrollbar-width: none; */
    overflow-y: scroll;
    overflow-x: hidden;
    z-index: 5;
    transition: 1s;
    border: 1px solid var(--theme);
    text-decoration: none;
}
.searchResult a {
    text-decoration: none;
    color: var(--textColor);
}
.searchItem {
    padding: 2px 1rem;
}
.searchItem:hover {
    background-color: var(--theme);
    color: white;
}
.filterBar button {
    color: var(--softTextColor);
    padding: 3px 1rem;
    margin: 5px;
    border-radius: 1rem;
    border: 0px solid rgb(204, 204, 204);
    background-color: var(--cardBackground);
}
.filterBar button:hover {
    background-color: rgb(206, 206, 206);
    color: black;
    transition: 250ms;
}

/* .filterBar button:focus {
    border: 1px solid rgb(206, 206, 206);
    background-color: rgb(0, 212, 0);
    color: white;
} */

.foodContainer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.foodCard {
    background-color: var(--cardBackground);
    /* background-image: linear-gradient(to bottom, white, var(--bodyBackground)); */
    color: var(--textColor);
    min-width: 15rem;
    width: 15rem;
    height: 21rem;
    margin: 1.5rem;
    border-radius: 7px;
    overflow: hidden;
    transition: 200ms;
}
.fadeUpAnimation {
    animation: fadeIn 0.5s linear;
}
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
.loading {
    text-align: center;
    margin-top: 50%;
}
.foodCard:hover {
    translate: -0.25rem -0.25rem;
    box-shadow: 2rem 2rem 2rem var(--shadowColor);
}

.storeImg {
    width: 15rem;
    height: 10rem;
    margin-bottom: 0.5rem;
    object-fit: cover;
    border-radius: 7px;
}

.storeName {
    padding-left: 1rem;
    margin-top: 1px;
    font-weight: 600;
    margin-bottom: 0.5rem;
}
.cuisine {
    margin-top: 1px;
    padding-left: 1rem;
    color: gray;
}
.storeRating {
    color: rgb(189, 189, 189);
    padding-left: 1rem;
    display: flex;
    margin-top: 1px;
}
.storeRating div {
    padding-right: 0.5rem;
    white-space: nowrap;
}
.deliveryTime {
    padding-left: 1rem;
    margin-top: 1px;
}
.veg,
.nonVeg {
    margin: 1px 1rem;
    padding: 0 0.5rem;
    width: fit-content;
    text-align: center;
    white-space: nowrap;
    border-radius: 1rem;
}
.veg {
    border: 1px solid green;
    color: green;
}
.nonVeg {
    border: 1px solid red;
    color: red;
}
.pageNavigation {
    width: fit-content;
    margin: 2rem auto;
    display: flex;
}
.pageNum {
    background-color: rgb(209, 209, 209);
    text-align: center;
    height: 2.5rem;
    width: 2.5rem;
    margin: 0.5rem;
    line-height: 2.5rem;
    border-radius: 40rem;
    transition: 1s;
    cursor: pointer;
}
.restaurant {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: var(--bodyBackground);
    color: var(--textColor);
}
.restaurantImage {
    width: 40rem;
    height: 40rem;
    object-fit: cover;
    overflow: hidden;
    border-radius: 1rem;
    opacity: 1;
    transition: 1.5s;
}
.restaurantInfo {
    width: 20rem;
    margin: auto;
    transition: 1s;
}

.restaurantInfo .name {
    color: green;
    font-size: 2rem;
    margin-bottom: 0.5rem;
    font-family: monospace;
    font-weight: bold;
}
.restaurantInfo .location {
    color: var(--softTextColor);
    font-size: 0.9rem;
    margin-bottom: 0.3rem;
}
.restaurantInfo .resCuisine {
    color: var(--softTextColor);
    font-size: 0.9rem;
}
.restaurantInfo .deliveryIn {
    color: var(--softTextColor);
    font-size: 1rem;
}
.restaurantInfo .distance {
    color: var(--softTextColor);
}
.restaurant .totalOffers {
    width: fit-content;
    border-radius: 1rem;
    padding: 0 0.7rem;
    background-color: var(--theme);
    margin: 2rem auto 0.5rem auto;
    color: white;
}

.allOffers {
    font-family: monospace;
    text-align: center;
    color: var(--softTextColor);
}

.menu {
    width: 80%;
    min-height: 50rem;
    padding: 1rem;
    margin: 5rem auto;
    border: 3px solid var(--theme);
    border-radius: 0rem 1rem 1rem 1rem;
    background-color: var(--bodyBackground);
    color: var(--textColor);
    /* box-shadow: 0.3rem 0.3rem 0.5rem inset gray; */
    z-index: 5;
}
.foodItem {
    margin: 2rem 3rem;
    padding: 1rem;
    background-color: var(--cardBackground);
    border-radius: 1rem;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    /* box-shadow: 0.3rem 0.3rem 0.3rem gray; */
    transition: 250ms;
    border: 2px solid white;
}
.foodItem:hover {
    /* background-color: var(--theme);
    color: white; */
    border-color: var(--theme);
    background-color: var(--theme);
    /* color: var(--cardBackground); */
    .name {
        color: white;
    }
    .description {
        color: rgb(100, 100, 100);
    }
    .priceAndAdd {
        color: white;
    }
    /* box-shadow: 1rem 1rem 1rem gray; */
}
.foodItem div {
    margin: auto 0;
    /* white-space: nowrap;
    overflow: hidden;
    color: inherit; */
}

.foodItem button {
    margin: 1rem;
    padding: 0.5rem 1rem;
    border-radius: 2rem;
    margin-left: 5rem;
    background-color: rgb(192, 192, 192);
    overflow: hidden;
    color: black;
    border: 0px solid gray;
}
.foodItem button:hover {
    background-color: white;
}
.foodItem .name {
    font-size: 1.3rem;
    color: green;
}
.foodItem .description {
    font-size: 0.9rem;
    color: var(--softTextColor);
}
.foodItemDetails {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    width: 60%;
}
.priceAndAdd {
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
    flex-wrap: nowrap;
}

.aboutUs {
    background-color: var(--bodyBackground);
    color: var(--textColor);
    margin: auto;
    /* width: 5rem; */
    overflow-x: scroll;
    padding: 0 5rem;
    font-family: monospace;
    font-size: 1.3rem;
}
.loginPage {
    width: 30rem;
    height: 40rem;
    border-radius: 1rem;
    padding: 1rem;
    background-color: var(--cardBackground);
    color: var(--textColor);
    /* margin: 5rem auto; */
    margin: 20vh auto 50vh auto;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-evenly;
}
.loginPage label {
    margin: 5rem;
    font-weight: bold;
    font-size: 2rem;
}
/* .loginPage input {
    margin: 0 2rem;
    border-radius: 1rem;
    padding: 0.3rem 1rem;
    border: none;
    outline: 1px solid rgb(206, 206, 206);
}
.loginPage input:hover {
    outline: 2px solid var(--theme);
}
.loginPage input:focus {
    outline: 1px solid var(--theme);

    background-color: rgb(202, 255, 202);
} */
.loginPage button {
    border-radius: 2rem;
    padding: 0.5rem 5rem;
    width: fit-content;
    margin: 1rem auto;
    border: 1px solid var(--theme);
    background-color: var(--theme);
    color: white;
    transition: 300ms;
}
.loginPage button:hover {
    background-color: green;
}
.loginPage div {
    margin: 3rem;
    color: gray;
}

.account {
    height: 80%;
}

.cart {
    display: flex;
    margin: 2rem auto;
    flex-wrap: wrap;
    width: 100%;
    color: var(--textColor);
    justify-content: center;
}
.order {
    /* max-width: 50rem; */
    transition: width 1s;
    max-width: 45rem;
    flex-grow: 1;
}

.order div {
    background-color: var(--cardBackground);
    border-radius: 1rem;
    margin: 0 1rem 1rem 1rem;
    padding: 1.2rem;
    /* width: 35rem; */
    animation: expandDown 500ms;
}
.addressBanner {
    display: flex;
    justify-content: space-between;
}

.addressInput {
    display: flex;
    flex-wrap: wrap;
}
.addressInput * {
    /* padding: 0.2rem 1.5rem; */
    /* border-radius: 1rem; */
    margin: 0.8rem 0.8rem;
    /* border: 1px solid rgb(156, 156, 156); */
    flex-grow: 1;
}
.paymentInput {
    padding: 0;
    margin: 0;
}
.paymentInput div {
    padding: 0;
    margin: 0.8rem 0.8rem;
    /* display: flex;
    justify-content: left; */
}

.paymentInput * * {
    margin: 1rem 1rem 0.5rem 0;
}
.order button {
    border: 1px solid var(--theme);
    border-radius: 1rem;
    padding: 0.2rem 1.5rem;
    background-color: var(--theme);
    color: white;
    flex-grow: 1;
}
.order button:hover {
    background-color: green;
}

.cartItems {
    background-color: var(--cardBackground);
    border-radius: 1rem;
    padding: 1rem;

    height: 50rem;
    transition: width 1s;
    max-width: 45rem;
    margin: 0 1rem;
    flex-grow: 1;
}
.cartItemsLabel {
    font-weight: bolder;
    font-size: 1.5rem;
    margin-bottom: 1rem;
    text-align: center;
}
.cartItemsRestaurant {
    color: green;
    font-family: monospace;
    font-size: 1.2rem;
    font-weight: 500;
    text-decoration: none;
}
.cartItemFood {
    display: flex;
    justify-content: space-between;
    padding: 0 1rem;
}
.cartItemFood button {
    margin: 1px 0.5rem;
    border-radius: 1rem;
    padding: 0 0.7rem;
    border: none;
}
.cartItemFood .cartPageItemName {
    width: 40%;
}
/* .cartItemFood .cartPageItemPrice {
    background-color: red;
    width: 5rem;
} */
.cartItemFood .add:hover {
    background-color: rgb(0, 184, 0);
    color: white;
}
.cartItemFood .remove:hover {
    background-color: red;
    color: white;
}

.Footer {
    margin-top: 3rem;
    height: 20rem;
    background-color: black;
    color: gray;
}

.contactInfo {
    padding: 1rem;
    margin: auto;
    max-width: 50vw;
    display: flex;
    justify-content: space-evenly;
}
.contactInfo a {
    color: gray;
    text-decoration: none;
}

@media screen and (max-width: 78rem) {
    .restaurantImage {
        width: 100%;
    }
    .restaurantInfo {
        padding-top: 3rem;
    }
}

@media (max-width: 1200px) {
    html {
        font-size: 1.7rem;
    }
    .navItems {
        margin-left: 0;
    }
    .navItems * {
        padding: 0.5rem 0.7rem;
    }
    .cartButtonBadge {
        padding: 7px;
    }
    .cart {
        flex-direction: column;
    }
}

.test {
    background-color: var(--theme);
    position: absolute;
    width: 5rem;
    height: 5rem;

    translate: -3.5rem -3.5rem;
    border-radius: 5px;
    clip-path: polygon(0 0, 100% 0, 100% 50%, 50% 50%, 50% 100%, 0 100%);
    z-index: 4;
}

.error {
    /* border: 2px solid red; */
    outline: 1px solid red;
    color: red;
}
.error::placeholder {
    color: red;
    opacity: 0.8;
}
.invalidError {
    color: red;
    height: 1rem;
}
.rotate {
    rotate: 180deg;
}
.disabled {
    opacity: 0.5;
}
.hidden {
    display: none;
}

@keyframes expandDown {
    0% {
        opacity: 0;
        translate: 0 -1rem;
    }
    100% {
        opacity: 1;
        translate: 0 0;
    }
}
