* {
    font-size: 1rem;
    margin: 0;
    padding: 0;
    --headerBackground: white;
    --bodyBackground: rgb(230, 230, 230);
    --cardBackground: white;
    --textColor: black;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    position: fixed;
    top: 0;
    width: 100%;
    color: var(--textColor);
    background-color: var(--headerBackground);
    z-index: 5;
}
.logo {
    font-size: 2rem;
    font-family: monospace;
    font-weight: bold;
}
.navItems {
    display: flex;
    list-style-type: none;
    margin: 0 1rem 0 1rem;
}
.navItems li {
    padding: 0.5rem 1.5rem 0.5rem 1.5rem;
    white-space: nowrap;
}

.body {
    margin-top: 4.7rem;
    padding-top: 1rem;
    background-color: var(--bodyBackground);
}
.filterBar {
    font-family: monospace;
    display: flex;
    justify-content: space-between;
    margin: auto;
    padding: 0 2rem;
    min-width: 27rem;
    max-width: 50rem;
    white-space: nowrap;
}
.filterBar button {
    color: rgb(49, 49, 49);
    padding: 2px 1rem;
    border-radius: 1rem;
    border: 1px solid rgb(204, 204, 204);
}
.filterBar button:hover {
    background-color: rgb(206, 206, 206);
    transition: 250ms;
}
.filterBar button:focus {
    border: 1px solid rgb(206, 206, 206);
    background-color: rgb(0, 212, 0);
    color: white;
}

.foodContainer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.foodCard {
    background-color: var(--cardBackground);
    color: var(--textColor);
    min-width: 15rem;
    width: 15rem;
    height: 20rem;
    margin: 1.5rem;
    border-radius: 7px;
    overflow: hidden;
}
.fadeUpAnimation {
    animation: fadeUp 0.5s linear;
}
@keyframes fadeUp {
    0% {
        translate: 0rem 2rem;
        opacity: 0.5;
    }
    100% {
        translate: 0;
        opacity: 1;
    }
}
.loading {
    text-align: center;
    margin-top: 50%;
}
.foodCard:hover {
    /* scale: 1.1; */
    translate: -0.25rem -0.25rem;
    box-shadow: 2rem 2rem 2rem gray;
    transition: 0.3s;
    /* .storeImg {
        scale: 1.05;
        transition: 0.3s;
    } */
}
.foodCard:not(:hover) {
    transition: 0.2s;
}

.storeImg {
    width: 15rem;
    height: 10rem;
    margin-bottom: 0.5rem;
    object-fit: cover;
    border-radius: 7px;
}

.storeName {
    padding-left: 1rem;
    margin-top: 1px;
    font-weight: 600;
    margin-bottom: 0.5rem;
}
.foodItems {
    margin-top: 2px;
    padding-left: 1rem;
    color: gray;
}
.storeRating {
    color: rgb(189, 189, 189);
    padding-left: 1rem;
    display: flex;
    margin-top: 2px;
}
.storeRating div {
    padding-right: 0.5rem;
    white-space: nowrap;
}
.deliveryTime {
    padding-left: 1rem;
    margin-top: 2px;
}
.veg {
    width: fit-content;
    padding: 0 5px 0 5px;
    white-space: nowrap;
    border: 1px solid green;
    border-radius: 10px;
    color: green;
    margin-top: 2px;
}
.vegIndicator {
    padding-left: 1rem;
    margin-top: 3px;
}
.nonVeg {
    width: fit-content;
    padding: 0 5px 0 5px;
    white-space: nowrap;
    text-align: center;
    border: 1px solid red;
    border-radius: 5px;
    color: red;
    margin-top: 2px;
}

.Footer {
    height: 20rem;
    background-color: black;
    color: gray;
}

.contactInfo {
    padding: 1rem;
    margin: auto;
    max-width: 50vw;
    display: flex;
    justify-content: space-evenly;
}
.contactInfo a {
    color: gray;
    text-decoration: none;
}
