@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap');

* {
  box-sizing: border-box;
  --primaryTheme:#92320c;
  --buttonTheme: #4d1601;
  --counterTheme: green;
}
html {
  font-family: 'Noto Sans JP', sans-serif;
}

body {
  margin: 0;
  background-color: #3f3f3f;
}
#cartItems{
  padding: 10px;
  /* background-image: linear-gradient(to top, white,rgba(58, 58, 58, 0.22)); */
  background-color: white;
  border-radius: 14px 14px 0px 0px;
}